/******************class container****************/

#background {
	background-image: url(./img/town3.png);
	background-size: 100%;
	background-repeat: no-repeat;
}


/*******************div score*********************/

.score {
	background-color: none;
	width: 10%;
	height: 5%;
}


/**********************h2*************************/

h2 {
	color: #f8cb08;
	font-family: 'Nova Square', cursive;
	text-shadow: 1px 1px 0 #324895, 1px -1px 0 #324895, -1px 1px 0 #324895, -1px -1px 0 #324895, 2px 2px 0 #324895, 2px -2px 0 #324895, -2px 2px 0 #324895, -2px -2px 0 #324895;
	margin: 0;


}


/***********************h1************************/

h1 {
	color: #87CEFA;
	text-shadow: 2px 2px 2px #00C0B0;
	text-align: center;
	width: 50%;
	display: block;
	margin-left: 23%;
	margin-top: 0%;
	margin-bottom: 0%;
	font-family: 'Nova Square', cursive;
	font-size: 45px;
	position: absolute;
	top: 2%;
}


/*********************ennemis**********************/

#ennemis {
	background-color: none;
	width: 60%;
	height: 25%;
	height: 30%;
	margin-top: -1.8%;
	margin-left: 20%;
	margin-right: 20%;
}


/*******************cowboy*********************/

#cowboy {
	width: 13%;
	height: 13%;
	top: 86%;
	margin-left: 45%;
	margin-right: auto;
	position: absolute;
	text-align: center;
}
#cowboy img
{
	height: 100%;

}

/*******************vaisseau*********************/

.vaisseau {
	height: 3%;
	width: 7%;
	display: inline-block;
	margin-bottom: 3%;
	margin-left: 2%;
	height: 20%;
}

img {
	max-width: 100%;
	height: auto;
}


/*********************************************************************************/

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: red;
	border: black 2px solid;
	text-align: center;
	color: #FFFFFF;
text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000;
	font-size: 14px;
	padding: 6px;
	width: 100px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;

}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

.missile {

	width: 20px;
	height: 20px;
	position: absolute;
	display: none;
	background-image: url(./img/poke2.png);

}

#gameover {
	overflow : hidden;
	position: absolute;
	display: none;
	height: 59%;
	color: #FFFFFF;
	padding-top: 19.9%;
	font-family: 'Nova Square', cursive;
	background-color: rgba(0, 0, 0, 0.65);
	width: 100%;
}

#gameover h2 {
	margin-left: 40%;
}

#win {
	overflow : hidden;
	position: absolute;
	display: none;
	height: 59%;
	color: #FFFFFF;
	padding-top: 20%;
	font-family: 'Nova Square', cursive;
	background-color: rgba(0, 0, 0, 0.65);
	width: 100%;
}

#win h2 {
	margin-left: 40%;
}

body
{
	margin: 0;
}

.score
{
width: 120px;
	height: 25px;
	vertical-align: middle;
}

#bouton
{
	text-align: right;

}

#score
{
	vertical-align: middle;
	margin-left: 10px;
}
